body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    background-color: #ff7f7f;
}

.container {
    max-width: 1440px;
    margin: 0 auto;
}

.button-round {
    height: 60px;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 20px;
    letter-spacing: 2px;
    align-items: center;
    border: 0;
    outline: none;
    border-radius: 45px;
}

/*NAV-MENU*/

.nav-menu {
    height: 125px;
    position: relative;
    z-index: 2;
    background-color: rgba(255, 127, 127, 0.8);
}

.nav-menu .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    padding: 20px 80px;
    font-weight: bold;
    text-transform: uppercase;
}

.nav-menu__logo__link {
    display: block;
    height: 83px;
    width: 107px;
    background-image: url("../images/brand.png");
    background-repeat: no-repeat;
}

.nav-menu__menu__link {
    display: inline-block;
    text-decoration: none;
    color: #ffffff;
    font-size: 20px;
    margin: 0 20px;
    transition: all 0.3s ease-in-out;
}

.nav-menu__search__link {
    color: #ffffff;
    font-size: 20px;
    transition: all 0.3s ease-in-out;
}

.nav-menu__menu__link:hover, .nav-menu__search__link:hover {
    color: #ffaf77;
}

/*TOP-PART*/

.top-part {
    position: relative;
    z-index: 1;
    margin-top: -130px;
    color: #ffffff;
}

.top-part > .container {
    box-sizing: border-box;
    padding: 265px 100px 422px 100px;
    background-size: cover;
    background-position: center;
    background-image: url("../images/main_img.png");
    background-repeat: no-repeat;
}

.top-part__describe {
    max-width: 575px;
}

.top-part__describe__title {
    text-transform: uppercase;
    font-size: 50px;
    margin-bottom: 40px;
}

.top-part__describe__title > h1 {
    margin: 0;
}

.top-part__describe__text {
    font-size: 20px;
    margin-bottom: 50px;
}

.top-part__describe__button {
    width: 315px;
    color: rgba(255, 127, 127, 1);
    transition: all 0.3s ease-in-out;
}

.top-part__describe__button:hover {
    color: #ffffff;
    background-color: #ffaf77;
    cursor: pointer;
}

/*MIDDLE-PART*/

.middle-part {
    position: relative;
    z-index: 0;
    margin-top: -295px;
    color: #ffffff;
}

.middle-part > .container {
    box-sizing: border-box;
    padding: 150px 40px 50px 40px;
    background-color: #ff7f7f;
}

.middle-part__describe {
    max-width: 600px;
    margin: 0 auto;
    text-align: center;
    font-size: 20px;
}

.middle-part__describe__title {
    font-size: 40px;
    text-transform: uppercase;
}

.middle-part__inner {
    display: flex;
    justify-content: space-between;
}

.middle-part__cards {
    display: flex;
    padding-top: 85px;
}

.middle-part__inner__cards__card {
    text-align: center;
    width: 240px;
    margin-left: 15px;
    margin-right: 15px;
}

.middle-part__inner__cards__card__link {
    color: #ffffff;
    text-decoration: none;
    transition: all 0.3s ease-in-out;
}

.middle-part__inner__cards__card__link:hover {
    color: #ffaf77;
}

/*BOTTOM-PART*/

.bottom-part {
    color: #ff7f7f;
    font-size: 20px;
}

.bottom-part > .container {
    box-sizing: border-box;
    padding: 125px 100px 25px 100px;
    background-color: #ffffff;
}

.bottom-part__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.bottom-part__inner__describe {
    max-width: 550px;
}

.bottom-part__inner__describe__title {
    font-size: 40px;
    text-transform: uppercase;
}

.bottom-part__inner__describe__button {
    width: 315px;
    margin-top: 40px;
    color: #ffffff;
    background-color: rgba(255, 127, 127, 1);
    transition: all 0.3s ease-in-out;
}

.bottom-part__inner__describe__button:hover {
    background-color: #ffaf77;
    cursor: pointer;
}

.bottom-part__animations {
    height: 150px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 40px;
}

.bottom-part__animations__sushi:first-child {
    align-self: flex-end;
}

.bottom-part__animations__sushi:last-child {
    align-self: flex-start;
}

/*SUBSCRIBE-PART*/

.subscribe-part {
    color: #ff7f7f;
    font-size: 20px;
}

.subscribe-part > .container {
    box-sizing: border-box;
    padding: 5px 100px 130px 100px;
    background-size: cover;
    background-position: 50% 100%;
    background-image: url("../images/bottom_img.png");
    background-repeat: no-repeat;
}

.subscribe-part__describe {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.subscribe-part__describe__title {
    font-size: 40px;
    text-transform: uppercase;
}

.subscribe-part__describe__title > h2 {
    margin: 0;
}

.subscribe-part__describe__text {
    text-align: center;
    max-width: 860px;
    margin-top: 40px;
}

.subscribe-part__describe__form {
    margin-top: 40px;
    position: relative;
    width: 640px;
    height: 60px;
}

.subscribe-part__describe__form__email {
    width: 100%;
    height: 100%;
    border: none;
    border-radius: 20px;
    outline: none;
    background: #f4f4f4;
    color: #7a7a7a;
    font-family: 'Montserrat', sans-serif;
    padding-left: 25px;
    font-size: 20px;
    box-sizing: border-box;
}

.subscribe-part__describe__form__button {
    position: absolute;
    top: 0;
    right: 0;
    width: 225px;
    background: #ff7f7f;
    color: #ffffff;
    transition: all 0.3s ease-in-out;
}

.subscribe-part__describe__form__button:hover {
    background-color: #ffaf77;
    cursor: pointer;
}

.subscribe-part__animations {
    margin-top: 100px;
}

/*FOOTER*/

.footer {
    color: #ffffff;
    font-size: 20px;
}

.footer .container {
    box-sizing: border-box;
    padding: 20px 100px 165px 100px;
    background-color: #000000;
}

.footer__animations__sushi {
    text-align: right;
    padding: 0 50px 0 50px;
}

.footer__animations__sushi > img {
    display: inline-block;
}

.footer__describe {
    display: flex;
    justify-content: space-between;
    margin-top: 195px;
}

.footer__describe__main {
    max-width: 425px;
    padding-right: 30px;
}

.footer__describe__main__title > h4,
.footer__describe__inner__about__title > h4,
.footer__describe__inner__services__title > h4,
.footer__describe__inner__other__title > h4 {
    font-size: 30px;
    font-weight: 400;
    margin: 0;
}

.footer__describe__main__social-networks {
    display: flex;
    margin-top: 40px;
}

.footer__describe__main__social-networks__link {
    display: block;
    border-radius: 50%;
    width: 43px;
    height: 43px;
    line-height: 43px;
    font-size: 26px;
    background-color: #ffffff;
    text-align: center;
    margin-right: 20px;
    color: #000000;
    text-decoration: none;
    transition: all 0.3s ease-in-out;
}

.footer__describe__main__social-networks__link:nth-child(1):hover {
    background-color: #c32aa3;
}

.footer__describe__main__social-networks__link:nth-child(2):hover {
    background-color: #3b5998;
}

.footer__describe__main__social-networks__link:nth-child(3):hover {
    background-color: #1da1f2;
}

.footer__describe__main__social-networks__link:nth-child(4):hover {
    background-color: #25d366;
}

.footer__describe__inner {
    display: flex;
    justify-content: space-between;
    max-width: 630px;
}

.footer__describe__inner a {
    text-decoration: none;
    color: #ffffff;
    transition: all 0.3s ease-in-out;
}

.footer__describe__inner a:hover {
    text-decoration: none;
    color: #ffaf77;
}

.footer__describe__inner__about,
.footer__describe__inner__services {
    margin-right: 50px;
}

.footer__describe__inner__about__links,
.footer__describe__inner__services__links,
.footer__describe__inner__other__links {
    margin: 20px 0 0 0;
    padding: 0;
    list-style: none;
}

.footer__describe__inner__about__link,
.footer__describe__inner__services__link,
.footer__describe__inner__other__link {
    margin-top: 20px;
}

/*RESPONSIVE*/

/*TODO: Responsive design*/

@media screen and (max-width: 1100px) {
    .middle-part__inner__animation-sushi {
        display: none;
    }

    .middle-part__inner {
        justify-content: center;
    }
}

@media screen and (min-width: 768px) and (max-width: 991px) {

    /*menu*/
    .middle-part__cards {
        flex-direction: column;
        align-items: center;
    }
}

/*ANIMATIONS*/

.down-up, .up-down, .spinner-1, .spinner-2, .right-left {
    display: block;
    position: relative;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

.down-up {
    animation-name: down-up;
}

.up-down {
    animation-name: up-down;
}

.spinner-1 {
    animation-name: spinner-1;
}

.spinner-2 {
    animation-name: spinner-2;
}

.right-left {
    animation-name: right-left;
}

@keyframes down-up {
    0% {
        top: 0;
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }

    100% {
        top: 70%;
    }
}

@keyframes up-down {
    0% {
        top: 70%;
    }

    100% {
        top: 0;
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes spinner-1 {
    0% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes spinner-2 {
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes right-left {

    from {
        left: 20%;
    }

    to {
        left: 60%;
        transform: rotate(360deg);
    }
}

