* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    /*background-color: #ff7f7f;*/
}

.container {
    max-width: 1440px;
    margin: 0 auto;
}

.button-round {
    height: 60px;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 20px;
    letter-spacing: 2px;
    align-items: center;
    border: 0;
    outline: none;
    border-radius: 45px;
}

.line-fix {
    position: relative;
    margin-top: -1px;
}

/*NAV-MENU*/

.nav-menu {
    position: fixed;
    top: 0;
    background-color: rgba(255, 127, 127, 0.85);
    width: 100%;
    z-index: 2;
}

.nav-menu .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 60px;
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    height: 125px;
    position: relative;
}

.nav-menu__brand {
    display: flex;
    align-items: center;
}

.nav-menu__brand__link {
    display: flex;
    height: 83px;
    width: 107px;
    background-image: url("../images/brand.png");
    background-repeat: no-repeat;
}

.nav-menu__links {
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-menu__links > ul {
    display: flex;
    justify-content: center;
    list-style: none;
}

.nav-menu__links__link > a {
    text-decoration: none;
    padding: 0 20px;
    letter-spacing: 1px;
    color: #ffffff;
    transition: all 0.3s ease-in-out;
}

.nav-menu__links__link > a:hover {
    color: #ffaf77;
}

.nav-menu__navigation__search-button {
    display: flex;
    align-items: center;
}

.nav-menu__navigation__search-button > a {
    color: #ffffff;
    transition: all 0.3s ease-in-out;
    text-decoration: none;
}

/*!*RESPONSIVE MENU*!*/

.nav-menu__responsive__links {
    display: none;
}

.toggle-menu__container,
#check {
    display: none;
    position: absolute;
    top: 50%;
    right: 60px;
    width: 50px;
    height: 50px;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
}

.toggle-menu {
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.toggle-menu > div {
    width: 35px;
    height: 3px;
    border-radius: 3px;
    background-color: #ffffff;
    position: relative;
    z-index: 4;
    transition: all 0.3s ease-in-out;
}

.toggle-menu > div::before,
.toggle-menu > div::after {
    content: '';
    position: absolute;
    width: inherit;
    height: inherit;
    background-color: #ffffff;
    border-radius: 3px;
    transition: all 0.3s ease-in-out;
}

.toggle-menu > div::before {
    transform: translateY(-9px);
    -webkit-transform: translateY(-9px);
}

.toggle-menu > div::after {
    transform: translateY(9px);
    -webkit-transform: translateY(9px);
}

#check {
    z-index: 5;
    cursor: pointer;
    opacity: 0;
}

#check:checked ~ .toggle-menu__container .toggle-menu > div {
    background-color: transparent;
}

#check:checked ~ .toggle-menu__container .toggle-menu > div::before {
    transform: translateY(0) rotate(-45deg);
    -webkit-transform: translateY(0) rotate(-45deg);
}

#check:checked ~ .toggle-menu__container .toggle-menu > div::after {
    transform: translateY(0) rotate(45deg);
    -webkit-transform: translateY(0) rotate(45deg);
}

/*TOP-PART*/

.top-part {
    position: relative;
    z-index: 1;
    color: #ffffff;
}

.top-part > .container {
    box-sizing: border-box;
    padding: 265px 100px 422px 100px;
    background-size: cover;
    background-position: center;
    background-image: url("../images/main_img.png");
    background-repeat: no-repeat;
}

.top-part__description {
    max-width: 575px;
}

.top-part__description__title {
    text-transform: uppercase;
    font-size: 50px;
    margin-bottom: 40px;
}

.top-part__description__text {
    font-size: 20px;
    margin-bottom: 50px;
}

.top-part__description__button {
    width: 315px;
    color: rgba(255, 127, 127, 1);
    transition: all 0.3s ease-in-out;
}

.top-part__description__button:hover {
    color: #ffffff;
    background-color: #ffaf77;
    cursor: pointer;
}

/*MIDDLE-PART*/

.middle-part {
    position: relative;
    z-index: 0;
    margin-top: -295px;
    color: #ffffff;
}

.middle-part > .container {
    box-sizing: border-box;
    padding: 150px 40px 50px 40px;
    background-color: #ff7f7f;
}

.middle-part__description {
    max-width: 600px;
    margin: 0 auto;
    text-align: center;
    font-size: 20px;
}

.middle-part__description__title {
    font-size: 40px;
    text-transform: uppercase;
    margin-bottom: 40px;
}

.middle-part__inner {
    display: flex;
    justify-content: space-between;
}

.middle-part__cards {
    display: flex;
    padding-top: 85px;
}

.middle-part__inner__cards__card {
    text-align: center;
    width: 240px;
    margin-left: 15px;
    margin-right: 15px;
}

.middle-part__inner__cards__card > img {
    margin-bottom: 20px;
}

.middle-part__inner__cards__card__link {
    color: #ffffff;
    text-decoration: none;
    transition: all 0.3s ease-in-out;
}

.middle-part__inner__cards__card > p {
    margin-top: 20px;
    margin-bottom: 20px;
}

.middle-part__inner__cards__card__link:hover {
    color: #ffaf77;
}

/*BOTTOM-PART*/

.bottom-part {
    color: #ff7f7f;
    font-size: 20px;
}

.bottom-part > .container {
    /*box-sizing: border-box;*/
    padding: 125px 100px 25px 100px;
    background-color: #ffffff;
}

.bottom-part__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.bottom-part__inner__description {
    max-width: 550px;
    padding: 0 0 0 45px;
}

.bottom-part__inner__description__title {
    font-size: 40px;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.bottom-part__inner__description__button {
    width: 315px;
    margin-top: 40px;
    color: #ffffff;
    background-color: rgba(255, 127, 127, 1);
    transition: all 0.3s ease-in-out;
}

.bottom-part__inner__description__button:hover {
    background-color: #ffaf77;
    cursor: pointer;
}

.bottom-part__animations {
    height: 150px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 40px;
}

.bottom-part__animations__sushi:first-child {
    align-self: flex-end;
}

.bottom-part__animations__sushi:last-child {
    align-self: flex-start;
}

/*SUBSCRIBE-PART*/

.subscribe-part {
    color: #ff7f7f;
    font-size: 20px;
}

.subscribe-part > .container {
    box-sizing: border-box;
    padding: 5px 100px 130px 100px;
    background-size: cover;
    background-position: 50% 100%;
    background-image: url("../images/bottom_img.png");
    background-repeat: no-repeat;
}

.subscribe-part__description {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.subscribe-part__description__title {
    font-size: 40px;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.subscribe-part__description__title > h2 {
    margin: 0;
}

.subscribe-part__description__text {
    text-align: center;
    max-width: 860px;
    margin-bottom: 20px;
}

.subscribe-part__description__form {
    margin-top: 40px;
    position: relative;
    width: 640px;
    height: 60px;
}

.subscribe-part__description__form__email {
    width: 100%;
    height: 100%;
    border: none;
    border-radius: 20px;
    outline: none;
    background: #f4f4f4;
    color: #7a7a7a;
    font-family: 'Montserrat', sans-serif;
    padding-left: 25px;
    font-size: 20px;
    box-sizing: border-box;
}

.subscribe-part__description__form__button {
    position: absolute;
    top: 0;
    right: 0;
    width: 225px;
    background: #ff7f7f;
    color: #ffffff;
    transition: all 0.3s ease-in-out;
}

.subscribe-part__description__form__button:hover {
    background-color: #ffaf77;
    cursor: pointer;
}

.subscribe-part__animations {
    margin-top: 100px;
}

/*FOOTER*/

.footer {
    color: #ffffff;
    font-size: 20px;
}

.footer > .container {
    padding: 20px 100px 165px 100px;
    background-color: #000000;
}

.footer__animations__sushi {
    text-align: right;
    padding: 0 50px 0 50px;
}

.footer__animations__sushi > img {
    display: inline-block;
}

.footer__description {
    display: flex;
    justify-content: space-between;
    margin-top: 195px;
}

.footer__description__main {
    max-width: 425px;
    padding-right: 30px;
}

.footer__description__main__title > h4,
.footer__description__inner__about__title > h4,
.footer__description__inner__services__title > h4,
.footer__description__inner__other__title > h4 {
    font-size: 30px;
    font-weight: 400;
    margin-bottom: 20px;
}

.footer__description__main__social-networks {
    display: flex;
    margin-top: 40px;
}

.footer__description__main__social-networks__link {
    display: block;
    border-radius: 100%;
    width: 36px;
    height: 36px;
    line-height: 36px;
    font-size: 18px;
    background-color: #ffffff;
    text-align: center;
    margin-right: 20px;
    color: #000000;
    text-decoration: none;
    transition: all 0.3s ease-in-out;
}

.footer__description__main__social-networks__link:nth-child(1):hover {
    background-color: #c32aa3;
}

.footer__description__main__social-networks__link:nth-child(2):hover {
    background-color: #3b5999;
}

.footer__description__main__social-networks__link:nth-child(3):hover {
    background-color: #1da1f2;
}

.footer__description__main__social-networks__link:nth-child(4):hover {
    background-color: #25d366;
}

.footer__description__inner {
    display: flex;
    justify-content: space-between;
    max-width: 630px;
}

.footer__description__inner a {
    text-decoration: none;
    color: #ffffff;
    transition: all 0.3s ease-in-out;
}

.footer__description__inner a:hover {
    text-decoration: none;
    color: #ffaf77;
}

.footer__description__inner__about,
.footer__description__inner__services {
    margin-right: 50px;
}

.footer__description__inner__about__links,
.footer__description__inner__services__links,
.footer__description__inner__other__links {
    margin: 20px 0 0 0;
    /*padding: 0;*/
    list-style: none;
}

.footer__description__inner__about__link,
.footer__description__inner__services__link,
.footer__description__inner__other__link {
    margin-top: 20px;
}

/*RESPONSIVE*/

@media screen and (max-width: 1100px) {
    .middle-part__inner__animation-sushi {
        display: none;
    }

    .middle-part__inner {
        justify-content: center;
    }
}

@media screen and (max-width: 991px) {

    .nav-menu > .container {
        display: flex;
        justify-content: flex-start;
    }

    .nav-menu__links,
    .nav-menu__navigation__search-button {
        display: none;
    }

    .toggle-menu__container {
        display: flex;
    }

    #check {
        display: block;
    }

    .nav-menu__responsive__links {
        display: block;
        position: fixed;
        height: 95vh;
        top: 125px;
        right: 0;
        width: 100%;
        background-color: rgba(255, 127, 127, 1);
        overflow-x: hidden;
        overflow-y: auto;
        transform: translateX(100%);
        -webkit-transform: translateX(100%);
        transition: all .45s ease-in-out;
    }

    .nav-menu__responsive__links > ul {
        width: 100%;
        list-style: none;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .nav-menu__responsive__links__link {
        width: 100%;
        font-size: 25px;
    }

    .nav-menu__responsive__links__link {
        opacity: 0;
        transform: translateY(15px);
        -webkit-transform: translateY(15px);
    }

    .nav-menu__responsive__links__link > a {
        display: block;
        padding: 20px 0;
        text-decoration: none;
        text-align: center;
        color: #ffffff;
    }

    .nav-menu__responsive__links__link > a:hover {
        background-color: #ffaf77;
    }

    #check:checked ~ .nav-menu__responsive__links {
        transform: translateX(0);
        -webkit-transform: translateX(0);
    }

    #check:checked ~ .nav-menu__responsive__links .nav-menu__responsive__links__link {
        animation: responsive-menu-anim .2s ease forwards .4s;
    }

    .middle-part__cards {
        flex-direction: column;
        align-items: center;
    }

    .bottom-part__inner {
        flex-direction: column;
        align-items: center;
    }

    .bottom-part__inner__picture,
    .bottom-part__inner__description__title {
        margin-bottom: 30px;
        text-align: center;
    }

    .bottom-part__inner__description {
        padding: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .bottom-part__inner__description__text,
    .subscribe-part__description__text {
        text-align: center;
        width: 100%;
    }

    .footer__description {
        flex-direction: column;
        justify-content: initial;
    }

    .footer__description__main {
        margin-bottom: 60px;
    }

    .footer__description__inner {
        max-width: none;

    }
}

@media screen and (max-width: 767px) {
    .top-part__description {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .top-part__description__title,
    .top-part__description__text {
        width: 100%;
        text-align: center;
    }

    .subscribe-part__description__form {
        width: 540px;
    }
}

@media screen and (max-width: 675px) {
    .footer__description__inner {
        flex-direction: column;
    }

    .footer__description__inner__services__title,
    .footer__description__inner__other__title {
        margin-top: 60px;
    }

    .top-part__description__title {
        font-size: 40px;
    }
}

@media screen and (max-width: 575px) {
    .top-part > .container {
        padding: 265px 60px 422px 60px;
    }

    .bottom-part__inner__description {
        max-width: 450px;
    }

    .subscribe-part__description__title {
        font-size: 40px;
    }

    .bottom-part__inner__picture > img {
        width: 365px;
        height: 365px;
    }


    .bottom-part__animations__sushi:last-child {
        display: none;
    }

    .subscribe-part__description__form {
        width: 315px;
    }

    .subscribe-part__description__form__button {
        position: relative;
        left: 50%;
        margin-top: 30px;
        width: 315px;
        transform: translateX(-50%);
        -webkit-transform: translateX(-50%);
    }

    .subscribe-part__animations__sushi {
        display: none;
    }
}

@media screen and (max-width: 480px) {
    .nav-menu > .container {
        padding: 20px 30px;
    }

    .toggle-menu__container,
    #check {
        right: 30px;
    }

    .top-part > .container {
        padding: 265px 30px 422px 30px;
    }

    .top-part__description__title,
    .middle-part__description__title,
    .subscribe-part__description__title,
    .bottom-part__inner__description__title {
        font-size: 20px;
    }

    .middle-part > .container {
        padding: 150px 30px 50px 30px;
    }

    .bottom-part > .container {
        padding: 125px 30px 25px 30px;
    }

    .bottom-part__inner__description {
        max-width: 350px;
    }


    .bottom-part__inner__picture > img {
        width: 300px;
        height: 300px;
    }

    .subscribe-part > .container {
        padding: 5px 30px 130px 30px;
    }

    .footer > .container {
        padding: 20px 30px 165px 30px;
    }
}

@media screen and (max-width: 340px) {
    .top-part__description__button,
    .bottom-part__inner__description__button,
    .subscribe-part__description__form,
    .subscribe-part__description__form__button {
        width: 280px;
    }

    .bottom-part__inner__description {
        max-width: 300px;
    }
}

@media screen and (max-width: 340px) {
    .container {
        min-width: 320px;
    }
}

/*ANIMATIONS*/

.down-up, .up-down, .spinner-1, .spinner-2, .right-left {
    display: block;
    position: relative;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

.down-up {
    animation-name: down-up;
}

.up-down {
    animation-name: up-down;
}

.spinner-1 {
    animation-name: spinner-1;
}

.spinner-2 {
    animation-name: spinner-2;
}

.right-left {
    animation-name: right-left;
}

@keyframes down-up {
    0% {
        top: 0;
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }

    100% {
        top: 70%;
    }
}

@keyframes up-down {
    0% {
        top: 70%;
    }

    100% {
        top: 0;
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes spinner-1 {
    0% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes spinner-2 {
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes right-left {
    0% {
        left: 20%;
    }

    100% {
        left: 60%;
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes responsive-menu-anim {
    0% {
        opacity: 0;
        -webkit-transform: translateY(15px);
        transform: translateY(15px);
    }

    100% {
        opacity: 1;
        -webkit-transform: translateY(0px);
        transform: translateY(0px);
    }
}
